{{ define "content" }}
<div class="jumbotron text-center mt-5">
    <h1 class="display-4">Hello Go!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda aut</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aperiam culpa cupiditate deserunt dolor
        dolorum earum et impedit iste maiores perferendis rem saepe, tempora. Assumenda beatae dolorum impedit
        praesentium vero.
    </p>
    <a class="btn btn-primary" href="#" role="button">Learn more</a>
</div>
{{ end }}